h6{
    color: blueviolet;
}
#worldwide{
    color:darkgreen;
    background-color: aqua;
}
h3{
    color: darkred;
}
*.tulika{
    color:chocolate;
}
*{
    background-color: rgba(168, 129, 162, 0.288)
}
p {
    line-height: 2em;
}

 

